
:root{
	--main-color:#093b66;
	--main-dark:#176ba4;
	--main-light:#565656;
	--second-color:#f08a24;
	--third-color:#2096D4;
	--font-dark: #222;
	--border-color:#F08A24;
	--button-color:#1978B8;
	--button-font-color:#fefefe;
	--bullot-color:#EBA838;
	--place-hover:#d9d9d9;
	--title-color: #222;
	--p-color: #666;
	--border:#2096D4;
	
	--footer-back:#565050;
	
	--box-shadow-main: 0px 4px 43px rgba(0, 0, 0, 0.25);
	--box-shadow-inner:0px 4px 20px rgba(0, 0, 0, 0.25);
	--box-shadow-Menu:0px 0px 5px rgba(0, 0, 0, 0.25);
}
body{
	margin:0;
	font-weight: 400;
	line-height: 1.5;
	color: #222;
	font-family:iran;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4{
	color:var(--title-color);
}
header{
	width:100%;
	min-height:50px;
}
main{
	max-width: 1500px;
	margin: 30px 5%;
}
select{ 
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	font-size: 16px;
	background-color: #fff;
	border: none;
	border-radius: 4px;
background-color: #fefefe;
	height: 2.2875rem;
	padding: .5rem;
	color: #666;
	font-family: iran;
	font-size: 13px;
}
select:hover{
	
	box-shadow: 0 3px 12px rgba(0,0,0,.2);
}
input {
	font-family: iran;
}
button{
	font-family: iran;
}
label{
	font-size: .9rem;
	font-weight: 700;
	line-height: 1.8;
	color: #666;
	margin: auto 10px;
}
/*Fonts*/

.logo{
	width:20%;
	margin: auto;
}
.topHeader{
	display:flex;
	padding: 1.1rem 3% 2rem;
	justify-content: space-evenly;
	
	position: relative;
}
.menu{
	background-color:var(--main-dark);
}
.menu li{
	position: relative;
}
.menu li i{
	font-size: 14px;
	margin:auto 6px;
}
.menu li:hover{
	background-color: #fefefe;
	color:#222
}
.menu li:hover i{
	color:#f08a24;
}
.MegaMenuLable{
	position: absolute;
	right: 0;
	background-color: #fefefe;
	z-index: 20;
	min-height: 300px;
	text-align: center;
	top: 48px;
}
.megaItemText{
	display: grid;
}
.menuMegaLable{

	display: flex;
}
.menuMain{
	padding: 2rem;
}
.megaItems{
	display: flex;
}
.megaItem{
	display: grid;
	width: 200px;
	margin: auto 2% 20px;
	border-radius: 4px;
	padding: 1rem;
}
.megaItem:hover{
	background-color: #eee;
}
.megaItem strong{
	color: #222;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: .5rem;
}
.megaItem small{
	color: #666;
	margin-bottom: 1.25rem;
font-size: 13x;
line-height: 1.8;
}
.megaItem img{
	width: 150px;
	height: 150px;
	object-fit: cover;
}
.menuSideBar{
	width:300px;
	padding: 3rem 2rem;
	background: #eee;
	color: initial;
}
.menuSideBarText{
	display: grid;
}
.menuSideBar strong{

}
.menuSideBarItem{
	background-color:#fff;
	padding:5%;
	margin:20px auto;
	display: flex;
	border-radius: 4px;
	cursor: pointer;
}
.menuSideBarItem img{
	width:50px;
	height: 70px;
	object-fit: contain;
}
.megaMainSub{
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
border-top: 1px solid;
}
.megaMenuBanner{
	background: #eee;
	background-image: url('https://uk.onlinelabels.com/images/header/rolls-banner.png');
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: auto 100%;
	border-radius: 4px;
	padding: 10px 35px;
	margin: 20px auto;
	text-align: right;
}
.megaMenuBanner h3{
	margin:0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mySideBarItemText{
	display: grid;
}



.search{
	position: relative;
	width:20%;
	margin: auto;
}
.search input{
	box-shadow: none !important;
	height: 37px;
	margin: 0;
	padding-right: .5rem;
	width: 97%;
}
.search button{
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	padding: 0.5rem;
	position: absolute;
	top: 0;
	left: -6px;
	border: none;
	background-color: var(--border-color);
	height: 42px;
	width: 42px;
}
.circleIcon{
	background-color: var(--main-color);
	width: 26px;
	height: 26px;
	padding: 3px 7px 4px 0px;
	border-radius: 50%;
	color:#fff;
}
.icons{
	display: flex;
}
.account{
	display: flex;
	color:var(--main-light);
	margin: auto;
}
.account-heading{
	padding:0 10px;
	margin: auto;
}
.icon-size{
	font-size: 18px;
}
.cart{
	display: flex;
	color:var(--main-light);
	margin: auto;
}
.megaMenuHeader{
	position: absolute;
	right: 0;
	background-color: #fefefe;
	z-index: 20;
	min-height: 150px;
	padding: 10px 3%;
	top: 70px;
	width: 94%;
	display: flex;
	box-shadow: var(--box-shadow-Menu);
}
.megaMenuSingle{
	max-width: 350px;
	left: 0;
	right: auto;
	padding: 1%;
}
.item-cart-quantity{
	padding: 1rem 0;
	margin: 0 15px 1px 15px;
	border-bottom: 1px solid #dee2e6;
	color:#111;
}
.mini-cart-table {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    margin: 0 15px;
    margin-bottom: 1rem;
    color: #212529;
}
.productListHover {
    position: relative;
    width: 100%;
    padding: 0;
    border-bottom: solid 1px #cdcdcd;
}
.inner-wrap {
    display: flex;
	align-items: center;
	text-align: right;
}
.inner-wrap img{
	width: 70px;
	margin: 5px;
}
.minicartData{
	width: 100%;
}
.item-minicart{
	display:grid;
	width: 80%;
}
.cartpopup{
	color:#111;
}
.cartPrice{
	display:flex;
}
.cartPrice strong{
	width: 50%;
	text-align: center;
}
.item-minicart-name{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	font-weight: bold;
	width: 90%;
}
.cartQty{
	color: #737373;
padding-left: 5px;
}


.megaSideBar{
	width:25%;
	margin: auto;
}
.searchPhase1{
	width: 100%;
	margin: auto;
}
.searchPhase1 ul{
	list-style: none;
	display: flex;
	padding: 10px 0;
	width: 85%;
	margin: auto;
	justify-content: center;
	align-items: flex-end;
}
.searchPhase1 li{
	padding: 5px;
	display: grid;
	text-align:center;
	line-height: 2.5;
	width:20%;
	cursor: pointer;
}
.searchPhase1 span{
	color:silver;
}
.searchImgHolder img{
	width:80px;
	min-height: 50px;
	object-fit: contain;
	margin: auto;
}
.searchImgHolder img:hover{
	width:90px;
	filter: brightness(0.8);
}

.searchPhase2{
	display: flex;
}
.vehiclePart{
	width:20% !important;
	background-color: #fff;
	display: grid !important;
}
.vehiclePart li{
	width:auto;
	min-width: 70px;
	font-size: 11px;
}
.vehiclePart li img{
	max-height: 60px;
	object-fit: contain;
}
.brandPart{
	width:75%;
	display: flex;
	flex-wrap: wrap;
}
.brandPart li{
	width:15%;
	border:2px solid transparent;
	border-radius: 5px;
	padding:10px 0;
}
.brandPart li img{
	width:80%;
	margin: auto;
}
.brandPart li:hover{
	border:2px solid var(--main-color);

}
.searchPhase3{
	display: flex;
	position: relative;
}
.oilPart{

}
.oilPart h4{
 margin:0;
 line-height: 1.2;
}
.oilPart li{
	width: 17%;
	background-color: #fff;
	margin: 0 1%;
	border-radius: 5px;
}
.oilPart img{
	width:80px;
	margin:auto;
	height: 100px;
object-fit: cover;
}
.moreProductSearch{
	width: 50px;
	height: 170px;
	box-shadow: var(--box-shadow-Menu);
	border-radius: 5px;
	display: grid;
	background-color: #fff;
}
.moreProductSearch a{
	padding: 70px 5px;
	text-align: center;
}
.mainHolder{
	margin: auto;
	display: flex;
	padding: 5px 10px;
	border: .5px solid transparent;
}
.mainHolder:hover{
	/*border: .5px solid var(--border);*/
	box-shadow: var(--box-shadow-Menu);
}
.searchImgHolder{
	max-height:75px;
	display: grid;
}
.cart-heading {
	padding: 0 10px;
	margin: auto;
}

/*	Menu	*/

.menuNavBar ul{
	list-style: none;
	display:flex;
	margin: auto;
}
.menuItem{
	color: #fefefe;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	padding: .75rem 1rem;
}

.hiTitle{
	width:50%;
	margin:auto;
	font-size: 40px;
	text-align:center;
}


/* Banner  */
.banner{
	background-position-x: 70%;
	background: #D3D9DD;
	padding: 0;
	position: relative;
}
.bannerOverlay{
	width: calc(100% - 80px);
	height: calc(100% - 70px);
	top: 35px;
	left: 40px;
	position: absolute;
	margin: auto;
	border: solid 2px #fff;
	border-radius: 30px;
}
.bannerOverlay img{
	float: left;
	margin-left: -40px;
}
.bannerText{
	text-align: center;
	max-width: 100%;
	margin-top: 3rem;
	line-height: 1;
	margin-bottom: 2rem;
	position: inherit;
}
.bannerTitle{
	color: var(--font-dark);
	font-size: 3rem;
	font-weight: 700;
}
.bannerSubtitle{
	font-size: 1.5rem;
}
.filter{
	position: inherit;
	display: flex;
	background-color:#fff;
	width:70%;
	margin:auto;
}
.filterField{
	width: 25%;
	padding: 10px 2%;
	position:relative;
	border: 2px solid var(--border-color);
	margin-left: -1px;
}
.filterTitle{
	font-weight: 700;
	color:var(--font-dark);
	font-size: 1rem;
}
.filterSubTitle{
	font-size: 1rem;
	font-weight: 400;
}
.filterArrow{
	position: absolute;
	left:10px;
	top:24px;
	color:var(--second-color);
}
.filterButton{
	width: 25%;
	line-height:normal;
}
.filterBtn{
	background-color: var(--button-color);
	color: var(--button-font-color);
	display: inline-block;
	vertical-align: middle;
	transition: background-color .25s ease-out,color .25s ease-out;
	font-size: .9rem;
	text-align: center;
	font-weight: 700;
	width:100%;
	height:100%;
	align-items: center;
	display: grid;
}
.homeSideBar{
	display: flex;
	background-color: var(--main-color);
	padding: 0;
}
.homeSideBar h3{
	color:silver;
	padding:20px;
}
.bannerPromises{
	display: flex;
	align-items: center;
	justify-content: center;
	position: inherit;
	margin-top: 1.5rem;
	min-height: 60px;
}
.promisesItem{
	flex: 1 1 0px;
	color:var(--button-font-color);
	padding:1.5rem 0 ;
	text-align: center;
	display: flex;
	justify-content: center;
}
.promisesItem img{
	padding: 0 10px;
}
.promisesItem span{
	font-size: 1rem;
}

.shop{
	background: #eee;
	padding-bottom:20px;
}
.shopBy{
	display:flex;
	margin: 50px 5%;
	width: 90%;

}	
.shop3{
	width:33%;
}
.shopByPlace{
	position: relative;
}
.shopByPlace img:hover{
	background-color:var(--place-hover);
}
.shopByPlace img{
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.shopByPlace h3{
	position: absolute;
	bottom: 0px;
	width: 97.5%;
	text-align: center;
	background-color: var(--button-color);
	left: 0;
}
.upsell{
	margin:auto 2%;
	width:96%;
}
.p-upsell-ad{
	background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 4px;
padding: 1.5rem;
text-align: center;
}
.p-upsell-ad__title{
	color: #222;
font-size: 1.25rem;
font-weight: 700;
}
.p-upsell-ad__button{
	margin: 1rem auto 0;
max-width: 11rem;
}


.blogPart{
	
}
.blogTitle{
	width:50%;
	margin:auto;
}
.blogTitle h2{
	font-size: 2rem;
	margin-bottom: .5rem;
}
.blogPart{
	display: flex;
	width:90%;
	margin:80px auto;
}
.blogPart p{
	font-size: 1.1rem;
	line-height: 1.75rem;
	color: var(--p-color);
}
.blogText{
	padding: 0 2%;
	width: 50%;
	direction: rtl;
}
.topTitle{
	border-bottom: 4px solid ;
	color:var(--second-color)
}
.blogImg{
	width: 50%;
}
.blogimg-anim{
	
}
.blogimg-anim img{
	border-radius: 5px;
	width: 100%;
	max-height: 350px;
	object-fit: contain;
}


.postParts{
	padding: 80px 0;
	background-image: url('https://hiprinter.com/images/static/blogBack.png');
}

.postPart{
	display: flex;
	width: 80%;
	margin:20px auto;
}
.postPart p{
	font-size: 1.1rem;
	line-height: 1.75rem;
	color: var(--p-color);
}
.postText{
	padding: 0 2%;
	position: absolute;
	bottom:20px;
	right:20px;
	color: var(--button-color);
	font-size: 25px;
}
.topTitle{
	border-bottom: 4px solid ;
	color:var(--second-color)
}
.postImg{
	position: relative;
	margin: 2%;
	box-shadow: var(--box-shadow-inner);
}
.img-anim{
	
}
.img-anim img{
	border-radius: 15px;
	width: 100%;
}



/*	Products	*/
.products{
	display:grid;
	margin-top:70px;
}
.products h2{
	color:var(--button-color);
}
.productTitle{
	color:var(--button-color);
}
.productHolder{
	width:100%;
	margin: 70px auto;
}
.productList{
	display:flex;
	justify-content: center;
	margin-top:-50px;
}
.product3{
	margin: auto 1%;
	position: relative;
	width: 20%;
}
.product3 img{
	width: 100%;
	object-fit: contain;
	border-radius: 15px;
	/*box-shadow: var(--box-shadow-inner);*/
}

.product3 h3{
	width: 100%;
	border-radius: 0 0 15px 15px;
	margin: 0;
	height: 50px;
	display: grid;
	align-content: center;
}
.product3 p{
	margin: auto;
}
.bannerRow{
	margin: 50px auto;
	background-color: #000;
	height: 200px;
	display: flex;
	align-items: flex-end;
}
.bannerRow img{
	width:70%;
}
.catalogueText{
	width: 25%;
	display: grid;
	margin: auto 8%;
	color: #fff;
}
.catalogueText h2{
	color: #fff;
}
.catalogDl{
	background-color: #fff;
	border-color: #fff;
	color: #fff;
	width: 0;
	white-space: nowrap;
	transition: .3s all;
	padding: 0 ;
	border-radius: 0px;
	display: inherit;
}
.catalogDl:hover{
	background-color: #005BAA;
	border-color: #005BAA;
	color: #fff !important;
	width: 100%;
	transition: .3s all;
	border-radius: 4px;
}
.catalogDl i{
	margin:auto 5px;
}
.product3Dl{
	color:var(--main-color);
	margin-top: 10px;
}

.whyUs{
	margin-top: 70px;
}
.whyHolder{
	display: flex;
	justify-content: space-evenly;
	width: 98%;
	margin: 40px auto 0;
}
.whyTitle{
	width: 50%;
margin: auto;
}
.why{
	display: flex;
	width: 33%;
	margin: auto 1% 100px;
	border-radius: 5px;
	position: relative;
	height: 250px;
	overflow: hidden;
	transition: .3s all;
}
.why:hover img{
	width:120%;
	left:-10%;
	bottom:-45px;
	transition: .3s all;
}
.why h2{
	position: absolute;
	top:0px;
	text-align: center;
	width: 100%;
	color: #fff;
}
.why img{
	width:90%;
	height: auto;
	object-fit: contain;
	position: absolute;
	bottom: 0;
	left: 5%;
}
.whyImg{
	border: solid 5px var(--main-dark);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	text-align: center;
	color: var(--main-dark);
	padding: 5px;
}
.whyImg i{
	font-size:44px;
}
.whyText{
	margin-right: 15px;
}
.whyText h4{
	margin: 0;
}
.whyText p{
	margin: 0;
font-size: 12px;

}

.offerLabelsHolder{
	display: flex;
}
.offerLabel{
	display: grid;
	width: 25%;
	margin: auto 2%;
	background: #eee;
	border-radius: 4px;
	padding: 1.5rem;
}
.offerLabel select{
	margin: 10px 0;
}
.offerLabel img{
	height:200px;
	width: 150px;
	object-fit: contain;
	margin: auto;
}
.offerLabelTitle{
	color: #666 !important;
	font-size: 1rem;
	font-weight: 700;
	overflow: hidden;
	line-height: 1.5;
	height: 23px;
	display: -webkit-box;
}
.offerBtn{
	width: 87% !important;
text-align: center;
font-size: 14px !important;
}
.offerTabs{

}
.offerTabs ul{
	display: flex;
	list-style: none;
justify-content: center;
}
.offerTabs li{
	margin: auto 20px;
	font-size: 1rem;
	cursor: pointer;
	padding: 5px 0;
}
.offerTabs li:hover{
	color: #666 
}
.offerActive{
	color:#f08a24 !important;
	border-bottom: 4px solid #f08a24;
}

.priceList{
	margin: 100px auto;
}
.priceHolder{
	display: flex;
	justify-content: center;
	margin-top:70px;
}
.price{
	background-color: var(--third-color);
	border-radius: 15px;
	padding: 15px;
	width: 20%;
}
.priceText{
	background-color: #fff;
	border-radius: 15px;
	display: grid;
	padding:10px 20px;
	box-shadow: var(--box-shadow-inner);
}
.priceImg{
	display: flex;
	justify-content: center;
}
.priceImg img{
	width:60px;
}
.priceText h3{
	text-align: center;
	border-top: 1px solid gray;
	width: 80%;
	margin: 20px auto;
	padding: 10px;
	border-bottom: 1px solid gray;
}
.priceText ul{
	list-style: none;
	color: var(--font-dark);
	padding: 10px;
}
.priceText span{
	border: 1px solid gray;
	text-align: center;
	padding: 10px;
	border-radius: 25px;
	color: var(--font-dark);
}
.priceText a{
	background-color: var(--third-color);
	text-align: center;
	border-radius: 25px;
	padding: 10px;
	color: #fff;
	margin: 20px 0;
}
.priceBold{
	background-color: var(--button-color);
	margin: -40px -15px;
	z-index: 10;
	box-shadow: var(--box-shadow-main);
}
.priceBold ul{
	padding: 8px 20px;
}
.priceBold li{
	line-height: 1.5;
}
.priceBold li::before{
	color:var(--bullot-color);
	content: "\2022";
	font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-right: -1em;
  font-size: 25px;
}
.priceBold a{
	background-color: var(--button-color);
}


.offerList{
	
}
.offerList h2{
	color: var(--third-color);
}
.offerHolder{
	padding: 20px;
	margin: 20px auto;
	width:85%;
}
.offerList{
	display: flex;
	justify-content: center;
}
.offer{
	width: 19%;
	padding: 10px 2%;
	position: relative;
	margin: auto 1%;
	border-radius: 5px;
	font-size:15px;
	min-width: 145px;
}
.offer:hover{
	box-shadow: var(--box-shadow-Menu);
}
.offerMain{
	margin-top:-50px;
	width: 22%;
}
.offerShare{
	color: var(--second-color);
	text-align: left;
}
.offerShare i{
	margin:auto 1px;
}
.offerImg{
	width: 100%;
}
.offerImg img{
	width: 100%;
	border-radius: 20px;
	height: 200px;
object-fit: cover;
}
.offerText{
	display: grid;
	width: 100%;
	border-radius: 0 0 5px 5px;
}
.offerTitle{
	width: 100%;
	padding: 4px 0%;
	display: grid;
}
.offerTitle small{
	white-space: nowrap;
}
.offerTitle strong{
	text-align:center;
}
.offerText h4{
	overflow: hidden;
	line-height: 1.5;
	height: 44px;
	display: -webkit-box;
	margin-bottom: 5px;
}
.offerText h4:hover{
	color: var(--main-dark);
	text-decoration: underline;
}
.offerText p{
	margin: 0;
font-size: 13px;
}
.offerButton{
	border-color: var(--second-color);
	color: #ffffff;
	background-color: var(--second-color);
	text-align: center;
	border-radius: 5px;
	margin: 0 0 15px 0;
	cursor: pointer;
}
.offerButton:hover{
	border-color: #FF9900;
	background-color: #FF9900;
}
.offerButton a{
	color: #fff;
}
.offerIcon{
	width: 30%;
	margin: auto;
}
.offerIcon i{
	color: #fff;
	background-color: var(--p-color);
	padding: 2px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
}
.youSave {
	padding: 10px 8px;
	display: grid;
	background-color: #edf6ff;
	margin: 10px 0;
}
.buttonHandler{
	width:100%;
	padding:7px;
}







/*	Footer	*/
footer{
	width:100%;
	background-color:var(--font-dark);
	min-height:80px;
	
}
.footerHolder{
	display:flex;
	width:90%;
	margin:auto;
	color: var(--button-font-color);
	padding: 50px 5%;
	border-bottom: 10px solid var(--third-color);
}
.col25{
	width:25%;
}
.col50{
	width:50%;
}
.logoCol{
	display:grid;
}
.footerLogo{
	display:flex;
	width:90%;
	margin:auto;
	justify-content: center;
}
.footerLogo span{
	font-size:30px;
	margin-right:20px;
}
.footerSocial{
	background-color: #736F6F;
	border-radius: 20px;
	width: 90%;
	margin: 20px auto 0;
	display: flex;
	justify-content: space-evenly;
}
.footerSocial i{
	font-size: 27px;
	color:var(--font-dark);
}
.footerSocial i:hover{
	color:var(--button-color);
}
.namadHolder{
	display:flex;
	width:80%;
	margin:auto;
}
.namadHolder img{
	width:100%;
	margin: 0 10px;
}

.copyHolder{
	display: flex;
	width: 90%;
	margin: auto;
	color: var(--main-light);
	padding: 10px 5%;
	border-top: 10px solid var(--button-color);
	text-align: center;
	font-size: 13px;
}


/*	Product Page 	*/
.shopDesc{
	display: flex;
	margin: 20px 3%;
}
.shopText{
	width: 55%;
}
.shopTitle{

}
.shopText p{
	width: 80%;
}
.shopImg{
	width: 45%;
	display: flex;
}
.shopImg img{
	width: 80%;
	margin: auto;
}

.subCatTitle{
	border-top: 1px solid;
	margin-top: 50px;
}
.subCatTitle img{
	margin: auto 10px;
	width:30px;
}
.subCatTitle h4{
	text-align: center;
	width: 150px;
	background-color: #fff;
	padding: 0 10px;
	margin: -15px auto 0;
	display: flex;
}
.subCategoryLists{
	display:flex;
	margin: 20px auto;
	width:90%;
}
.subCategoryPlace{
	display: grid;
	width: 25%;
	margin: auto 1.5%;
	position: relative;
	border:2px solid var(--border);
	border-radius: 15px;
	overflow: hidden;
	box-shadow: var(--box-shadow-inner);
}
.subCategoryPlace img{
	width:100%;
	height: 200px;
	object-fit: cover;
}
.subCategoryPlace h4{
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	background-color: #fff;
	margin: 0;
	padding: 15px 0;
	border-top: 2px solid var(--border);
}


.shopLists{
	display:flex;
	margin: 20px auto;
	width:90%;
	flex-wrap: wrap;
}
.shopPlace{
	display: grid;
	min-width: 22%;
	margin: 20px 1.3%;
	position: relative;
	border:2px solid var(--footer-back);
	border-radius: 15px;
	overflow: hidden;
	box-shadow: var(--box-shadow-inner);
}
.shopPlace img{
	width:100%;
	height: 200px;
	object-fit: cover;
}
.productText{
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	background-color: #fff;
	margin: 0;
	padding: 15px 0;
	border-top: 2px solid var(--footer-back);
}


/*	Product Page	*/
.productMainHolder{
	display: flex;
	margin: 20px auto;
	align-items: start;
}
.productSData{
	display: grid;
	width:35%;
}
.productImg{
	display: flex;
	align-items: start;
}
.galleryImg{
	width: 20%;
	display: grid;
}
.mainImg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.galleryImg img{
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-color: var(--font-dark);
	box-shadow: 0 0 4px var(--font-dark);
	margin: auto auto 20px;
}
.mainImg{
	width: 200px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}
.imgSize{
	position: absolute;
	left: -20px;
}
.productSpec{
	margin-top:50px;
}
.twoCol{
	display: flex;
	width: 92%;
}
.productBtn{
	border: 1px solid #ccc;
	color: #666;
	height: 35px;
	padding: .5rem;
	margin-top: .5rem;
	border-radius: 5px;
	cursor: pointer;
	background-color: #fff;
	width: 90%;
	margin: 5px 1%;
}
.productBtn:hover{
	border: 1px solid #ccc;
	color: #666;
	background: #eee;

}
.productMainDetail{
	width:65%;
	background-color: #eee;
	border-radius: 0 4px 4px 4px;
	padding: 1.5rem;
}
.mainTitle{
	display: flex;
	justify-content: space-between;
}
.mainTitle h3{
	margin:0;
}
.mySideBarItemText{
	color:#666;
	text-align: right;
	margin: auto 7%;	
}
.mainDetail a , .blueA{
	color: #007ac9;
	font-size: .8rem;
	font-weight: 700;
	margin: auto 0;
}
.mainDetail a:hover , .blueA:hover{
	color: #f08a24;
}
.stepNumber {
    border-radius: 50%;
    color: white;
    height: 1.5rem;
    padding-top: 0.05rem;
	width: 1.5rem;
	background: #222;
	display: inline-block;
	text-align: center;
	margin:auto .5rem
}

.mainDataField{
	background-color: #fff8f5;
	border: 1px solid #f08a24;
	outline: none;
	display: flex;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 1.5rem;
	margin-top: 10px;
	padding: 1rem;
	position: relative;
}
.fieldName{
	display: grid;
	width: 70%;
}
.fieldName small{
	color: #666;
}
.swatchIcon {
    border: 2px solid #bbb;
    border-radius: 50%;
    height: 2rem;
	width: 2rem;
	margin: auto;
}
.stock{
	display: grid;
}
.stock strong{
	color: #26872a;
}
.addToCartButton{
	background-color: #f08a24;
	color: #fefefe !important;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 1rem;
	padding: .85em 1em;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: background-color .25s ease-out,color .25s ease-out;
	cursor: pointer;
	clear: both;
	font-weight: 700;
	width: 95%;
	margin: 20px auto !important;
	text-align: center;
}
.priceFieldProduct{
	width:20%;
	text-align: left;
	color: #f08a24;
	font-size: 14px;
	margin: auto;
}
.addToCartButton:hover{
	background-color: #f29c45 !important;
	text-decoration: none;
}
.addToCartButton i{
	margin: auto 10px;
}

.productDetailSection{
	box-shadow: inset 0 1px 0 rgba(0,0,0,.2);
	background-color: #eaeaea;
}
.productPromises{
	display: flex;
	margin: auto 2%;
}
.productPromise{
	width:30%;
	margin: 20px 2%;
	flex: 1 1 0px;
	display: flex;
}
.productPromiseText{
	display: grid;
}
.promiseIcon{
	font-size: 4rem;
	flex: 0 0 25%;
}
.cPanel{
	position: relative;
	border-radius: 4px;
	display: block;
	background: #fefefe;
	border: none;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	margin: 0;
	padding: 1.5rem;
	width: 88%;
	margin: auto;
}
.cPanel ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
.cPanel li{
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
	width: 50%;
}


.mainSelectPop{
	position: absolute;
	top: -1px;
	background-color: #fff;
	width: calc(100% + 2px);
	left: -1px;
	z-index: 20;
	border-radius: 4px;
	box-shadow: 0 1px 6px rgba(0,0,0,0.5);
	max-height: 400px;
	overflow-y: scroll;
}
.popFieldData{
	width: 90%;
	border: 2px solid #eee;
	margin: 10px auto;
}
.popFieldActive , .popFieldData:hover{

	border: 2px solid #f08a24;
}

/* 	Category	*/
.landingCat{
	background: #222 url("https://assets.uk.onlinelabels.com/images/dlp/banners/candle-labels-banner.jpg") 50%/cover no-repeat !important;
}
.landingText{
	max-width: 50%;
	color: #fefefe;
	display: grid;
	padding:60px 20px;
	margin-right: 50%;
}
.landingText h1{
	display: block;
font-size: 2.5rem;
font-weight: 700;
color: #fefefe;
margin-bottom: .5rem;
margin-right: 1rem;
line-height: 1;
}

.breadCrumb{
	padding:.5rem 0 1.5rem;
}

/*	categoryPage	*/
.categoryHolder{
	display: flex;
}
.resultFilter{
	display: flex;
	justify-content: space-between;
}
.resultCount{
	font-size: 1.25rem;
	font-style: italic;
	color: #f08a24;
}
.filterSortBy{
	display: flex;
}
.filterSort{

}
.filterButtons{
}
.categoryFilterButton{

}
.filterButtons a{
	display: flex;
	cursor: pointer;
	margin: 0 0.5rem;
width: auto;
padding: 0 1em;
border: 1px solid transparent;
border-radius: 4px;
}
.filterBtn i{
	margin-left:15px;
}
.filterButtons a:hover{
background-color: #2395e1;
}

.productsLists{
	display: flex;
	flex-wrap: wrap;
	width:100%;
margin: 30px auto;
}
.productItem{
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	text-decoration: none;
	align-items: center;
	background: #fefefe;
	border-radius: 4px;
	margin: 0 auto 2rem;
	padding: 1.5rem 1%;
	width: 22%;
}
.productItem:hover{
	box-shadow: 0 3px 12px rgba(0,0,0,.2);
}
.categorySide{
	width:25%;
}
.categoryMain{
	width:75%;
}
.imageContainer{
	text-align: center;
}
.productImage{
	margin: auto;
	width: 100px;
	height: 120px;
	object-fit: contain;
}
.productContent{

}
.productTitle{
	color: #007ac9;
	-webkit-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
	font-size: 1rem;
	font-weight: 700;
	height: 50px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
}
.productTitle:hover{
	color: #f08a24;
}
.productSubTitle{
	color: #666;
	font-weight: 400;
	font-size: .75rem;

}
.productContent{
	color: #666;
	font-size: .75rem;
}
.productCategory{
	color: #f08a24;
	font-size: .75rem;
}
.productOption{
	background-color: #f08a24;
	color: #fefefe;
	font-size: .7rem;
	padding: .7em 1em;
	border: 1px solid transparent;
	border-radius: 4px;
	width: 100%;
	margin-top: 20px;
}
.productOption:hover{
	background-color: #f29c45;
}

.accordion__button {
	background-color: #fff !important;
	padding: 10px 0 !important;
	border-top: solid 1px #cdcdcd !important;
    width: 90% !important;
    text-align: right !important;
}
.accordion__button::before {
	float: left;
}

.popup-content {  margin: auto;  background: rgb(255, 255, 255);width:70%; min-width: 300px;
	padding: 15px;
	border-radius: 20px;
	box-shadow: 0 0 3px silver;}
  .popup-arrow {  color: rgb(255, 255, 255);}[role='tooltip']
  .popup-content {  width: 200px;  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;}
  .popup-overlay {  background: rgba(0, 0, 0, 0.5);}[data-popup='tooltip']
  .popup-overlay {  background: transparent;}
.modal{
	font-family: "iran";
	position: relative;
  }
  .modal-content{
	  display: flex;
  }
  .pop-xtra-content{
	display: grid;
	width:25%;
	padding-right: 15px;
	border-right: 1px solid silver;
}
.modal-img{
	width: 60px;
	margin-left: 15px;
	border-radius: 10px;
	border: 2px solid #165676;
  }
  .modal-product{
	display: grid;
	width:75%;
	align-items: start;
  }
  .modal-product span{
	  display:grid;
  }
  .modal-product h4{
	text-align: center;
	margin: 2px auto;
  }
  .modal-sub-btn{
	padding: 5px;
	font-size: 13px;
	display: block;
	text-align: center;
	color: #fff;
	background: var(--second-color);;
	border: none;
	border-radius: 7px;
	height: 24px;
	margin: 20px 3%;
	cursor: pointer;
  }
  .modal-product-detail{
	color:#111;
	font-weight: bold;
	position: absolute;
bottom: 10px;
  }
  .modal-product-detail:hover{
	color: #005BAA;
	text-decoration: underline;
  }
  .modal-product-detail i{
	margin: auto 10px;
	color: var(--border-color);
  }
  .modal-header{
	text-align:center;
  }
  .modal-header img{
	width: 120px;
  }
  .modal-content input{
	width: 100%;
  margin: auto;
  border-radius: 7px;
  height: 28px;
  margin:5px 0 0;
  border:1px solid gray;
  }
  .modal-content-button{
  color: #fff;
  background: #e11c24;
  border: none;
  border-radius: 7px;
  margin: 20px 0;
  cursor: pointer;
  }
  .modal-Cart-button{
	background: #165676;
	padding:5px 10px;
	float: left;
  }
  .selectPart{
	display: grid;
  }
  .selectPart select{
	  width:100%;
}
.pricePop{
	color: #000;
font-weight: bold;
font-size: 22px;
line-height: 22px;
}
.sideBarFilters{
	
}
.sideBarFilters ul{
	list-style: none;
	padding: 0 5px;
}
.sideBarFilters li{
	display: flex;
	line-height: 2;
}
.filterCat{
	border-right: 3px solid var(--second-color);
	margin: 10px 0;
	padding-right: 10px;
	font-size: 13px;
}
.filterValue{
	display:flex;
	justify-content: space-between;
	width: 100%;
}
.accordion{
	border:transparent !important;
	margin-top: 40px;
}
.accordion__panel{
	padding:0 20px !important;
}
.accordion__item{
	border-top:transparent !important;
}
.items-total{
	border-bottom: 1px solid silver;
}
.cartTable{
	margin:10px 2%;
	text-align: center;
	border-bottom: 2px solid silver;
}
.cartTableHeader{
	border-bottom: 1px solid silver;
	color: #fff;
	background-color: var(--border);
	line-height: 2;
}
.shoppingCartHeading{
	margin-top:0px;
}
.cartHandler{
	display:flex;
}
.cartMain{
	width: 75%;

}
.cartSide{
	width: 25%;
}
.cartMainTH{
	width: 52%;
}
.cartAltTH{
	width: 15%;
	min-width: 50px;
}
.shopCartBtn{
	padding-top: .5rem;
	padding-bottom: 1.5rem;
	display: flex;
	justify-content: space-evenly;
}
.btn-secondary{
	color: #565656 ;
	background-color: #fff;
	padding: 10px 35px;
	border-radius: 3px;
	border: #565656 1px solid;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.07px;
	line-height: 20px;
	text-align: center;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-secondary:hover{
	color: #FFF ;
	background-color: #005BAA;
	border-color: #005BAA;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.link_amsoil-large{
	line-height: 42px;
display: block;
color: #111;
font-weight: 600;
font-size: 16px;
text-decoration: underline;
}
.link_amsoil-large:hover{
	color: #005BAA;
}
.order-summary {
    color: #111111;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.23px;
}
.textShipping{
	font-size:12px;
}
.cartCheckOut{
	margin: 0;
padding: 9px 20px;
}
.total-wrap{
	display:flex;
	justify-content: space-between;
}
.totalPrice{
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	padding: 16px 0;
}




@media(max-width:700px){
	.logo {width: auto;}
	.search{display: none;}
	.account-heading,.cart-heading{display: none;}
	.logo img{width:120px;object-fit: contain;}
	.homeSideBar {display: grid;}
	.fa-angle-down{display:none;}
	.searchPhase1 ul {width: 100%;}
	.searchImgHolder {max-width: 70px;}
	.searchImgHolder img {width: 60px;}
	.searchImgHolder img:hover {width: 70px;}
	.searchPhase1 span {font-size: 11px;}
	.searchPhase2 {display: grid;}
	.megaMenuHeader {width:94%;display: grid;}
	.megaSideBar {width: 95%;}
	.menu ul {}
	.menu li {white-space: nowrap;}

	.vehiclePart {width: 100% !important; display: flex !important;}
	.vehiclePart span{display:none;}
	.vehiclePart li img {width: 60px;}
	.searchPhase3 {display: grid;}
	.oilPart {overflow-x: scroll;justify-content: inherit !important;}
	.oilPart li {min-width: 100px;}

	.bannerRow {height: auto;display: grid;}
	.catalogueText {width: auto;display: flex;}
	.bannerRow img {width: 100%;}
	.productList {display: grid;}
	.productHolder {margin: 20px auto;}
	.product3 {width: 90%;display: flex;border-bottom: 1px silver solid;margin: 10px auto;padding-bottom: 20px;}
	.hideMenu{display: none;}
	.menuNavBar ul {padding-right: 0;}
	.megaItems {display: grid;}
	.megaItem {display: flex;width: 83%;justify-content: space-between;padding-bottom: 0;padding: 1rem .5rem;}
	.megaItem img {width: 75px;height: 75px;}
	.megaItemText{display: grid;}
	.menuMain {padding: 2%;}
	.menuMegaLable {display: grid;}
	.megaMenuBanner {width: calc(100vw - 120px);}
	.menuSideBar {width: 300px;padding: 1rem;}
	.product3 img {width: 50%;}
	.offerList {flex-wrap: wrap;}
	.offer {width: 40%;	margin: auto;min-width: 180px;}

	.modal-content{display: grid;}
	.modal-product {width: 95%;min-height: 140px;}
	.modal-product-content{display: none;}
	.pop-xtra-content {width: 95%;}
	.mobileFlex{display: flex;}
	.selectPart select {width: 60%;}
	.pricePop {	text-align: left;}

	.blogTitle {width: 80%;}
	.blogPart {display: grid;}
	.blogText {width: 95%;}
	.blogImg {width: 95%;}


	.footerHolder {	display: grid;}
	.col50 {width: 95%;margin: 20px auto;}
	.col25 {width: 95%;}


	.landingText {max-width: 90%;margin-right: 0%;}
	.filterButtons{display:none;}
	.filterSortBy label{display:none;}
	.categoryHolder {display: grid;}
	.categorySide {width: 100%;}
	.categoryMain {width: 100%;}

	.productMainHolder {display: grid;}
	.productSData {width: 100%;}
	.productSpec{display:none;}
	.productMainDetail {width: auto;margin-top: 30px;}
	.productPromises {display: grid;}
	.productPromise {width: auto;}

	.cartHandler {display: grid;}
	.cartSide ,  .cartMain {width: 100%;}
	.link_amsoil-large{display: none;}
	.mobileHide{display: none;}
}